[submodule "external/sokol"]
	path = ext/sokol
	url = https://github.com/floooh/sokol.git
[submodule "ext/sokol-tools-bin"]
	path = ext/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/firmware"]
	path = ext/firmware
	url = https://github.com/X65/firmware.git
[submodule "ext/os-816"]
	path = ext/os-816
	url = https://github.com/X65/os-816.git
[submodule "ext/Nuked-OPL3"]
	path = ext/Nuked-OPL3
	url = https://github.com/nukeykt/Nuked-OPL3.git
