[submodule "external/sokol"]
	path = ext/sokol
	url = https://github.com/floooh/sokol.git
[submodule "ext/sokol-tools-bin"]
	path = ext/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/firmware"]
	path = ext/firmware
	url = https://github.com/X65/firmware.git
[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/doctest/doctest.git
[submodule "ext/cppdap"]
	path = ext/cppdap
	url = https://github.com/google/cppdap.git
[submodule "ext/imgui_toggle"]
	path = ext/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle.git
[submodule "ext/speexdsp"]
	path = ext/speexdsp
	url = https://github.com/xiph/speexdsp.git
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
